build/bin
build/darwin
build/windows/installer/tmp
frontend/dist
frontend/node_modules
vendor

node_modules

# Logs
crystal/logs
crystal/*.log
crystal/npm-debug.log*
crystal/yarn-debug.log*
crystal/yarn-error.log*
crystal/pnpm-debug.log*
crystal/lerna-debug.log*

crystal/node_modules
crystal/dist
crystal/dist-ssr
crystal/*.local
crystal/build

# Editor directories and files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Idea directories
.idea
.idea_modules

# Browser Logs
browser/oauth/logs
browser/oauth/*.log
browser/oauth/npm-debug.log*
browser/oauth/yarn-debug.log*
browser/oauth/yarn-error.log*
browser/oauth/pnpm-debug.log*
browser/oauth/lerna-debug.log*
browser/oauth/node_modules
browser/oauth/dist
browser/oauth/dist-ssr
browser/oauth/*.local
